
nav {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center; 
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #F5F5F5; 
    z-index: 10;
    border-bottom: 1px solid #364f6b; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .logo a {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace; 
    color: #87ceeb; 
    text-decoration: none;
    float: left;
  }
  
  .menu {
    float: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 16px; 
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    color: #364f6b; 
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  nav ul li a:hover {
    text-decoration: underline; 
    color: #A9A9B0; 
  }
  
  /* Responsif */
  @media screen and (max-width: 991.98px) {
    .logo a {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 40px; 
    }
  
    nav .menu {
      width: 100%;
      margin: 0;
    }
  
    nav .menu ul {
      flex-direction: column; 
      text-align: center;
      margin: auto;
      gap: 0;
      line-height: 60px;
    }
  
    nav ul li {
      display: inline-block;
      float: none;
    }
  }

  
.btn-login {
  background-color: #364f6b !important; 
  color: white !important;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
  gap: 16px; 
}

nav ul li {
  float: none; 
  width: 100%; 
  text-align: center; 
}

.btn-stack {
  margin-top: -4px; 
  width: 100%; 
  display: flex;
  justify-content: center; 
}




.btn-stack {
  justify-content: flex-end;
}
